h5,
p {
	font-size: 14px;
}

.style-card {
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
	border-style: none;
	width: 200px;
}

.style-img {
	border-radius: 13px;
	width: auto;
	height: 100px;
	object-fit: none;
}
