.back__button {
  display: none;
  color: #000000;
}

.navbar-text {
  position: relative;
  left: -3%;
}

@media only screen and (max-width: 768px) {
  .logo__ {
    display: none;
  }

  .back__button {
    display: block;
  }
}
